.btn-nav {
  display: flex;
  align-items: center;
  color: #0cdcb0;
  cursor: pointer;
  border: none;
  font-size: 0.8rem;
  transition: all 0.2s ease-in;
  transition-property: color;
}
@media only screen and (max-width: 700px) {
  .btn-nav {
    font-size: 50%;
  }
}

.btn-nav:hover {
  color: #077b63;
}

/* .buttons-container {
  height: 30%;
  display: flex;
  flex-direction: row;
  background-color: red;
}

.btn-viewone {
  cursor: pointer;
  border: 1px solid #0cdcb0;
  background: white;
  color: #0cdcb0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  transition: all 0.2s ease-in;
  transition-property: color, border;
}
.btn-viewone:hover {
  border: 1px solid #077b63;
  color: #077b63;
} */
