.form-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: #0cdcb0;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.form-title {
  color: white;
  margin-bottom: 1rem;
}
