.Home-request-infos {
  background-color: #fd5c63;
  color: white;
  width: 100%;
  height: calc((100vh - 64px) / 2);
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.Home-request-infos h2 {
  margin: 1rem;
  font-family: "Source Sans Pro", cursive;
  font-weight: 300;
  text-align: center;
  font-size: 2.3rem;
}

/* .buttons-container img {
  width: 110%;
} */

.Home-offer-infos {
  color: #fd5c63;
  background-color: white;
  height: calc((100vh - 64px) / 2);
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.Home-offer-infos h2 {
  margin: 1rem;
  font-family: "Source Sans Pro", cursive;
  font-weight: 300;
  text-align: center;
  font-size: 2.3rem;
}
