.viewall-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.viewall-card {
  margin: 1rem;
  width: 25%;
  color: white;
  background-color: #fd5c63;
  padding: 1rem;
  border-radius: 10px;
}

.card-image {
  border-radius: 50%;
  width: 33%;
  justify-content: center;
  margin: auto;
}
.card-details {
  justify-content: center;
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  align-items: baseline;
}
.card-details-title {
  font-weight: 300;
}
.fa-map-marker {
  margin: 0.5rem;
}

.card-details-location {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
@media only screen and (max-width: 600px) {
  .viewall-card {
    margin: 0.5rem;
    width: 40%;
  }
  .card-details {
    font-size: 0.8rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2rem;
  }
}
