body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css?family=Noto+Serif+SC:300,400,500,700,900|Source+Sans+Pro:300,400,700,900&display=swap");
ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-bar {
  position: relative;
  width: 100%;
  padding: 0.35rem 2rem 0.5rem 2rem;
  border-bottom: 1px solid #f8f9fa;
  background: white;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
}
.nav-bar .is-active {
  color: #272728;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  font-family: "Noto Serif SC", serif;
  font-weight: 900;
  margin-right: 2.3rem;
}
.nav-logo:hover {
  color: #272728;
}

.nav-side {
  display: flex;
  align-items: baseline;
}

.nav-item {
  font-size: 0.9rem;
  margin-right: 0.9rem;
  color: #ccccd4;
  transition: color 0.2s ease-in;
}
.nav-item:hover {
  color: #272728;
}

.drop-menu-container {
  position: absolute;
  background: white;
  top: 45px;
  right: 2rem;
  width: 200px;
  height: 100px;
  border-radius: 0.3rem;
  transition: visibility 0.2s ease-in;
  visibility: hidden;
  z-index: 1;
}
.drop-menu-container:hover {
  visibility: visible;
}

button.btn-prems {
  cursor: pointer;
  border: 1px solid #0cdcb0;
  background: white;
  color: #0cdcb0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  transition: all 0.2s ease-in;
  transition-property: color, border;
}
button.btn-prems:hover {
  border: 1px solid #077b63;
  color: #077b63;
}

button.btn-white {
  cursor: pointer;
  border: none;
  background: white;
  color: #0cdcb0;
  padding: 0.7rem 1.2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  transition: all 0.2s ease-in;
  transition-property: color, background, border;
  border: 1px solid #0cdcb0;
}
button.btn-white:hover {
  color: white;
  background: #0cdcb0;
  border: 1px solid white;
}

.btn-nav {
  display: flex;
  align-items: center;
  color: #0cdcb0;
  cursor: pointer;
  border: none;
  font-size: 0.8rem;
  transition: all 0.2s ease-in;
  transition-property: color;
}
.btn-nav .arrow-btn {
  margin-left: 0.3rem;
  margin-top: 0.1rem;
  font-size: 0.9rem;
}
.btn-nav:hover {
  color: #077b63;
}

.header {
  position: relative;
}

.header-title-container {
  z-index: 1;
  width: 60%;
}
.header-title-container .header-over-title {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-left: 0.2rem;
  color: #0cdcb0;
}
.header-title-container .header-title {
  z-index: 1;
  color: #b1b1bc;
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 0.6rem;
}

.page-title-container {
  display: flex;
  padding: 2rem 2rem 2rem 2rem;
  flex-direction: column;
}
.page-title-container .page-title {
  color: #b1b1bc;
  font-size: 1rem;
  font-weight: 400;
  width: 60%;
}

.video-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  height: 400px;
}
.video-container .video {
  position: absolute;
  left: 50%;
  top: 50%;
  /* The following will size the video to fit the full container. Not necessary, just nice.*/
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
}

.video-overflow {
  background: rgba(0, 0, 0, 0.3);
  position: relative;
}

.header-title {
  position: relative;
}

.footer {
  margin-top: 3rem;
  background: #272728;
  height: 300px;
  width: 100%;
}

.grid-articles-container {
  padding: 0 2rem;
}

.grid-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2.8rem;
  grid-row-gap: 2rem;
}

.article-card-container {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  border-radius: 0.6rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  padding: 1rem;
}
.article-card-container:hover {
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
  transform: translate(0, -15px);
}

.card-infos {
  color: white;
}
.card-infos .card-title {
  font-size: 1.2rem;
}

.articles-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 180px;
  width: 100%;
  background: #0cdcb0;
  color: white;
}
.articles-header .articles-header-title {
  color: white;
  font-weight: 200;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.wrapper.articles-grid {
  margin-top: 2rem;
}

.search-bar {
  width: 25%;
}
.search-bar input.search {
  width: 100%;
  padding: 0.7rem;
  background: none;
  border: none;
  border-bottom: 2px solid #f8f9fa;
  font-size: 0.9rem;
  color: white;
}
.search-bar input.search:focus {
  border-bottom: 2px solid white;
  outline: none;
}
.search-bar input.search::placeholder {
  color: #f8f9fa;
  font-family: "Source Sans Pro", sans-serif;
}

.article-images {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2.8rem;
  grid-row-gap: 2rem;
  margin-bottom: 2.5rem;
}
.article-images .img {
  background: #a1fae7;
  width: 100%;
  height: 300px;
}

.article-heart {
  margin: 1.5rem 0 1rem 0;
  display: flex;
  color: #b1b1bc;
  align-items: center;
}
.article-heart .heart-icon {
  margin-right: 0.3rem;
  font-size: 1.2rem;
}
.article-heart .count {
  color: #b1b1bc;
}

.article-title-container {
  margin-bottom: 2rem;
}
.article-title-container .article-over-title {
  color: #0cdcb0;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.article-title-container .article-title {
  font-size: 2.5rem;
  font-weight: 200;
  color: #b1b1bc;
}

.article-text {
  width: 80%;
}
.article-text .text {
  font-size: 1.25rem;
  line-height: 1.4;
}
.article-text .highlight {
  color: #0cdcb0;
  margin: 2rem 0;
  font-size: 1rem;
  width: 50%;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.app-container {
  width: 100%;
}

.big-cta-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3rem;
  background: #0cdcb0;
}

.wrapper {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
}

.videos-page {
  min-height: 100vh;
}
